/* font-family: 'Raleway', sans-serif; */
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

a {
	color: black;
}

/* ------------------------------ */

/* top & nav */
.topWrap {
	width: 100%;
}

.topWrap>.topLogo {
	margin: 0 auto;
	/* background-color: rgb(255, 244, 230); */
}

.topWrap>.topLogo>h1 {
	font: 3rem/5rem 'Raleway', sans-serif;
	text-align: center;
}

/* leftNav */
.leftNav {
	width: 240px;
	background-color: rgb(226, 218, 207);
}

.leftNav>.layoutCenter {
	position: fixed;
	padding: 50px 40px;
}

.leftNav>.layoutCenter>.navInner {
	/* background-color: rgb(255, 255, 255); */
	letter-spacing: 0.5px;
	font: bold 0.8em 'Raleway', 'Lato', 'Noto Sans KR', sans-serif;

}

/* leftNav - inner */
.leftNav>.layoutCenter>.navInner>ul>li::before {
	content: "!";
	line-height: 1.5rem;

}

.leftNav>.layoutCenter>.navInner>ul>li>a {
	line-height: 1rem;
	color: black;
	background-color: aqua;
}

.leftNav>.layoutCenter>.navInner .menuSpacing {
	padding: 10px 0 23px 10px;
}

.leftNav>.layoutCenter>.navInner>ul>li>ul>li>a {
	line-height: 1.5rem;
	color: black;
}

.leftNav>.layoutCenter>.navInner .menuSpacing .numSize {
	font: 600 0.9rem 'Raleway', 'Lato';
	letter-spacing: -0.03rem;
	color: black;
}



/* userMenu */
.userMenu {
	position: fixed;
	right: 0;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	width: 14rem;
	padding-top: 1.5rem;
	/* border: 1px solid red; */
	z-index: 99;
}


/* user menu - 하위 A태그 3개 전부*/
.userMenu>a {
	flex: 1 0 auto;
}

/* form 생략 */

.userMenu .search {
	position: absolute;
	top: 1.2rem;
	right: 12.5rem;
	width: 10rem;
	line-height: 1.7rem;
}

/* 검색창 */
/* 검색어를 입력하세요 */
.userMenu .search input#srchBar {
	all: unset;
	width: 8rem;
	outline: none;
	background: none;
	border-bottom: 1px solid black;
	font-size: 13px;
	color: #7e7e7e;
}

/* submit button - hidden */
.userMenu .search input#srchSubmit {
	all: unset;
	float: right;
	color: transparent;
	cursor: pointer;
}



.userMenu a {
	padding-right: 1rem;
	z-index: 111;
	/* submit보다 앞으로 배치 */
}

/* search & login & cart icon */
.userMenu>a>i {
	font-size: 1.5rem;
}

/* balloon effect */
.userMenu>a>div {
	position: absolute;
	top: 3rem;
	right: 7.3rem;
	font: 600 0.72rem 'Lato', sans-serif;
	letter-spacing: 0.3px;

	/* balloon animation */
	animation: ball 0.7s linear 0s infinite alternate;
	margin-top: 0;
	-webkit-animation: ball 0.7s linear 0s infinite alternate;
	margin-top: 0;
}

@keyframes ball {
	0% {
		margin-top: 0px;
	}

	100% {
		margin-top: 5px;
	}
}

-webkit-@keyframes ball {
	0% {
		margin-top: 0px;
	}

	100% {
		margin-top: 5px;
	}
}

/* balloon effect - end */



/* ------------------------- */
/* main 1 */

.mainWrap {
	/* width: 100%; */
	margin: 0 auto;
}


.mainWrap>.mainFirst {
	height: 100%;
	margin: 200px auto 50px;
	display: block;
	text-align: center;
	width: calc(100% - 40%);
}

.mainWrap>.mainFirst>ul {
	display: flex;
}

.mainWrap>.mainFirst>ul>li {
	display: inline-block;
	margin: 0 1%;
}

.mainWrap>.mainFirst>ul>li>img {
	width: 100%;
}



/* main 2 */
.mainWrap>.mainSecond {}

.mainWrap>.mainSecond>.mainLayout {
	width: 100%;
	margin: 0 auto;
	padding: 300px;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner {
	width: calc(100% - 40%);
}


.mainWrap>.mainSecond>.mainLayout>.mainInner>ul {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

/* thumbnail 크기 수정용 */
.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>.thumbnail01 {
	display: block;
	width: 35%;
	padding: 5% 10% 5% 5%;

}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>.thumbnail02 {
	display: block;
	width: 30%;
	padding: 15% 10% 5% 5%;
}


.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>.thumbnail03 {
	display: block;
	width: 35%;
	padding: 5% 10% 5% 5%;
}

/* thumbnail 크기 수정용 - end */



/*  */

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>.thumbnail>a {

	display: block;
	width: 100%;
	height: 100%;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>.thumbnail>a>img {
	position: relative;
	width: 100%;
	height: 100%;
	filter: blur(0);
	transition: all .1s;
}