/* font-family: 'Raleway', sans-serif; */
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

a {
	color: black;
}

/* ------------------------------ */

header {}

/* top & nav */
.topWrap {
	width: 100%;
}

.topWrap>.topLogo {
	margin: 0 auto;
	/* background-color: rgb(255, 244, 230); */
	padding-top: 1rem;
}

.topWrap>.topLogo>h1 {
	font: 3rem/5rem 'Raleway', sans-serif;
	text-align: center;
}

/* leftNav */
.leftNav {
	width: 240px;
	background-color: rgb(226, 218, 207);
}

.leftNav>.layoutCenter {
	position: fixed;
	padding: 50px 40px;
}

.leftNav>.layoutCenter>.navInner {
	/* background-color: rgb(255, 255, 255); */
	letter-spacing: 0.5px;
	font: bold 0.8em 'Raleway', 'Lato', 'Noto Sans KR', sans-serif;

}

/* leftNav - inner */
.leftNav>.layoutCenter>.navInner>ul>li {
	/* content: "!"; */
	line-height: 1.5rem;

}

.menuSpacing {
	background-color: yellow;
	display: none;
}


.leftNav>.layoutCenter>.navInner>ul>li>a {
	line-height: 1rem;
	color: black;
}

.leftNav>.layoutCenter>.navInner .menuSpacing {
	padding: 10px 0 23px 10px;
}

.leftNav>.layoutCenter>.navInner>ul>li>ul>li>a {
	line-height: 1.5rem;
	color: black;
}

.leftNav>.layoutCenter>.navInner .menuSpacing .numSize {
	font: 600 0.9rem 'Raleway', 'Lato';
	letter-spacing: -0.03rem;
	color: black;
}



/* userMenu */
.userMenu {
	position: fixed;
	right: 0;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	width: 14rem;
	padding-top: 2.5rem;
	z-index: 99;
}


/* user menu - 하위 A태그 3개 전부*/
.userMenu>a {
	flex: 1 0 auto;
}

/* form 생략 */

.userMenu .search {
	position: absolute;
	top: 2.2rem;
	right: 12.5rem;
	width: 10rem;
	line-height: 1.7rem;
}

/* 검색창 */
/* 검색어를 입력하세요 */
.userMenu .search input#srchBar {
	all: unset;
	width: 8rem;
	outline: none;
	background: none;
	border-bottom: 1px solid black;
	font-size: 13px;
	color: #7e7e7e;
	display: none;
}

/* submit button - hidden */
.userMenu .search input#srchSubmit {
	all: unset;
	float: right;
	color: transparent;
	cursor: pointer;
}



.userMenu a {
	padding-right: 1rem;
	z-index: 111;
	/* submit보다 앞으로 배치 */
}

/* search & login & cart icon */

.userMenu>form>.search>a>i,
.userMenu>a>i {
	font-size: 1.5rem;
	display: block;
}
.userMenu>form>.search>a>i{
	position: absolute;
	top: 0.3rem;
	color: red;
	right: 0;
}
/* balloon effect */
.userMenu>a>div {
	position: absolute;
	top: 4rem;
	right: 7.3rem;
	font: 600 0.72rem 'Lato', sans-serif;
	letter-spacing: 0.3px;

	/* balloon animation */
	animation: ball 0.7s linear 0s infinite alternate;
	margin-top: 0;
	-webkit-animation: ball 0.7s linear 0s infinite alternate;
	margin-top: 0;
}

@keyframes ball {
	0% {
		margin-top: 0px;
	}

	100% {
		margin-top: 5px;
	}
}

-webkit-@keyframes ball {
	0% {
		margin-top: 0px;
	}

	100% {
		margin-top: 5px;
	}
}

/* balloon effect - end */



/* ------------------------- */
/* main 1 */

.mainWrap {
	margin: 0 auto;
}


.mainWrap>.mainFirst {
	height: 100%;
	margin: 3.3rem auto 50px;
	display: block;
	text-align: center;
	width: calc(100% - 40%);
}

.mainWrap>.mainFirst>ul {
	display: flex;
	justify-content: center;
}

.mainWrap>.mainFirst>ul>li {
	display: inline-block;
	margin: 0 1%;
}

.mainWrap>.mainFirst>ul>li>img {
	width: 100%;
}



/* main 2 */
.mainWrap>.mainSecond {
	width: 100%;
	padding-top: 15rem;
}

.mainSecond>h2 {
	padding-bottom: 5rem;
	text-align: center;
	font: 400 2rem 'Raleway', 'Lato', 'Noto Sans KR', sans-serif;
	/* letter-spacing: 5px; */
}

.mainWrap>.mainSecond>.mainLayout {
	width: 100%;
	margin: 0 auto 7rem auto;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner {
	width: calc(100% - 40%);
	margin: 0 auto;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul {
	flex-wrap: wrap;
	display: flex;
}

/* thumbnail 크기 수정 - box */
.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>li:nth-child(1n) {
	width: 35%;
	padding: 5% 10% 5% 5%;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>li:nth-child(2n) {
	width: 30%;
	padding: 14% 10% 5% 5%;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>li:nth-child(3n) {
	width: 30%;
	padding: 10% 10% 5% 10%;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>li:nth-child(4n) {
	width: 35%;
	padding: 15% 10% 5% 5%;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>li:nth-child(6n) {
	width: 35%;
	padding: 15% 10% 5% 5%;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>li:nth-child(7n) {
	width: 30%;
	padding: 10% 10% 5% 10%;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul img {
	width: 100%;
}

/* 상품명 */
.product .name {
	/* display: block; */
	font: 300 0.8em 'Noto Sans KR', Arial, Helvetica, san-serif;
	letter-spacing: -0.03rem;
	color: black;
	color: #7e7e7e;
}

/* 상세설명 */
.product>.description {
	display: block;
	font: 400 0.7em 'Noto Sans KR', Arial, Helvetica, san-serif;
	color: #7e7e7e;
}

/* 상품가격 */
.product>.price {
	display: block;
	font: 400 0.7rem 'Mulish', 'Noto Sans KR', Arial, Helvetica, san-serif;
	color: #9c9c9c;
}


/* color chips */
.color>.colorRow>.colorChips>span {
	margin: 0.2rem 0;
	display: inline-block;
	width: 0.9rem;
	height: 0.9rem;
	border: 1.2px solid rgb(219, 219, 219);
	border-radius: 10px;
}

.color>.colorRow>.colorChips>.white {
	background-color: white;
}

.color>.colorRow>.colorChips>.grey {
	background-color: rgb(219, 219, 219);
}

.color>.colorRow>.colorChips>.black {
	background-color: black;
}

.color>.colorRow>.colorChips>.navy {
	background-color: rgb(49, 48, 73);
}

.color>.colorRow>.colorChips>.brown {
	background-color: rgb(80, 38, 38);
}

.color>.colorRow>.colorChips>.green {
	background-color: #144d0c;
}


/*  */

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>.thumbnail>a {
	display: block;
	width: 100%;
	height: 100%;
}

.mainWrap>.mainSecond>.mainLayout>.mainInner>ul>.thumbnail>a>img {
	position: relative;
	width: 100%;
	height: 100%;
	filter: blur(0);
	transition: all .1s;
}

/* thumbnail end */




/* footer */

footer {
	width: 100%;
	/* background-color: #fafafa; */
	margin-top: 20rem;
}

footer>.footLayout {
	border-top: 0.02rem solid #dadada;
	width: 95%;
	padding: 1.8rem;
}

footer>.footLayout>.footInner {
	font: 400 0.75rem/1.1rem
		/*'Raleway', */
		'Lato', 'Noto Sans KR', sans-serif;
	color: #969696;
	letter-spacing: 0.02rem;
	display: flex;
	justify-content: space-between;
}

footer>.footLayout>.footInner>.footTop {}

footer>.footLayout>.footInner>.footTop>ul {}

footer>.footLayout>.footInner>.footTop>ul>li {}



footer>.footLayout>.footInner>.footMiddle a {
	color: #969696;
}


/* SNS */

footer>.footLayout>.footInner>.sns {
	display: flex;
	justify-content: space-around;
	width: 7rem;
}

footer>.footLayout>.footInner>.sns>li {
	display: inline;
	font-size: 1.4rem;
}

footer>.footLayout>.footInner>.sns>li>a>i {
	color: #969696;
	text-align: right;
}
